*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --background-color: rgb(29, 29, 29);
    --container-color: rgb(15, 15, 15);
    --container-shadow-color: rgb(97, 97, 97);
    --modal-background: rgba(0, 0, 0, 0.196);
    --background-color-card:rgb(0, 0, 0);
    --card-text-color:radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

}
body{
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: var(--container-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60vw;
    padding: 6%;
    border-radius: 10px;
    box-shadow: 0px 0px 19px var(--container-shadow-color);
}
.container>.game-title{
    padding: 4%;
    border-radius: 10px;
    box-shadow: 2px 2px 20px var(--container-shadow-color);
    background-color: var(--background-color-card);
    text-align: center;
}
.container>.game-title>h1{
    background:var(--card-text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3vw;
}
.selection-page{
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-background);
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-betweenw;
}
.selection-page>h2{
    height: 40vh;
    font-size: 6vw;
    background:var(--card-text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.selection-page>.buttons{
    height: 50vh;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: end;

}
.select-btn-parent{
    background-color: var(--background-color-card);
    box-shadow: 0px 0px 10px var(--container-shadow-color);
    border-radius: 8px;
}
.btn-select{
    font-size: 5vw;
    padding: 5px 15px;
    background:var(--card-text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
}
.btn{
    transition: 0.1s;
}
.btn:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgb(97, 97, 97);
}
.change-of-theme{
    background-color: var(--background-color-card);
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    z-index: 4;
    box-shadow: 0px 0px 7px var(--container-shadow-color);
}
.change-of-theme>i{
    font-size: 2vw;
    margin: 1vw;
    background:var(--card-text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.1s;

}
.change-of-theme>i:hover{
    transform: rotate(90deg);
}