*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --background-color: rgb(29, 29, 29);
    --container-color: rgb(15, 15, 15);
    --container-shadow-color: rgb(97, 97, 97);
    --modal-background: rgba(0, 0, 0, 0.196);
    --background-color-card:rgb(0, 0, 0);
    --card-text-color:radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    --card-check:rgb(41, 41, 41);
    --top-boxes-shadow:rgb(97, 97, 97);
}
body{
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: var(--container-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60vw;
    height: 70vh;
    border-radius: 1vw;
    box-shadow: 0px 0px 2vw var(--container-shadow-color);
}
.container>h2{
    background:var(--card-text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3vw;
}
.computer-section,.player-section{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.card-text{
    font-size: 2vw;
    text-align: center;
    background:var(--card-text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card-user,.card-computer{
    padding: 4%;
    width: 10vw;
    border-radius: 1vw;
    box-shadow: 2px 2px 2vw var(--container-shadow-color);
    background-color: var(--background-color-card);
}
.card-user>img,.card-computer>img{
    width: 100%;
    filter: drop-shadow(0px 0px 1vw var(--container-shadow-color));
}
.card-checked{
    background-color: var(--card-check);
}
.selection-page{
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-background);
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.selection-page>h2{
    height: 40vh;
    font-size: 5vw;
    background:var(--card-text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.selection-page>.buttons{
    height: 50vh;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: end;

}
.select-btn-parent{
    background-color: var(--background-color-card);
    box-shadow: 0px 0px 10px var(--container-shadow-color);
    border-radius: 1vw;
}
.btn-select{
    font-size: 3vw;
    padding: 1vw 1.5vw;
    background:var(--card-text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
}
.result-page{
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-background);
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.result-page>h2{
    height: 30vh;
    font-size: 7vw;
    background:var(--card-text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.result-page>#result{
    padding: 3%;
    width: 100%;
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    color: rgb(51, 51, 51);
    background-color: rgba(35, 35, 35, 0.609);
}
.btn-play-again{
    font-size: 4vw;
    border-radius: 1vw;
    padding: 5px 15px;
    background:var(--card-text-color);
    border: 0.3vw solid;
    box-shadow: 0px 0px 1vw rgb(97, 97, 97);
    margin: 3vw;
}
.btn{
    transition: 0.1s;
}
.btn:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgb(97, 97, 97);
}
.change-of-theme{
    background-color: var(--background-color-card);
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    z-index: 4;
    box-shadow: 0px 0px 7px var(--top-boxes-shadow);
    cursor: pointer;
}
.change-of-theme>i,.back-to-menu>i{
    font-size: 2vw;
    margin: 1vw;
    background:var(--card-text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.1s;

}
.change-of-theme:hover i{
    transform: rotate(90deg);
}
.back-to-menu{
    background-color: var(--background-color-card);
    border-radius: 12px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    z-index: 4;
    box-shadow: 0px 0px 7px var(--top-boxes-shadow);
}
.clock{
    width: 100vw;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
}
.clock-title{
    font-size: 6vw;
    background:var(--card-text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}