*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --background-color: rgb(160, 236, 255);
    --container-color: rgb(59, 98, 253);
    --modal-background: rgba(25, 42, 104, 0.608);
}
body{
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: var(--container-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 10px 10px 19px rgba(31, 31, 31, 0.847);
}
.card-text{
    font-size: 2em;
}
.card-text,.card-title{
    text-align: center;
}
.card{
    padding: 20px;
    width: 20rem;
    box-shadow: 2px 2px 20px rgba(26, 26, 26, 0.681);
}
.selection-page{
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-background);
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.selection-page>h2{
    height: 40%;
    font-size: 7em;
    color: white;
}
.selection-page>.buttons{
    height: 30%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}
.btn{
    font-size: 5em;
    border-radius: 8px;
    padding: 5px 15px;
}
.result-page{
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-background);
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.result-page>h2{
    height: 10%;
    font-size: 7em;
    color: white;
}
.result-page>#result{
    padding: 30px;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: rgb(51, 51, 51);
    background-color: rgba(35, 35, 35, 0.609);
}